#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #00a087;
    color: #e8fdff;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2em;
    padding-right: 2em;
    z-index: 1;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    float: left;
}

#nav-bar .header {
    float: left;
    font-size: 2em;
    line-height: 75px;
}

#nav-bar .compose-button {
    float: right;
    padding: 10px;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
    opacity: 0.9;
    width: 125px;
    height: 60px;
    font-size: 20px;
    color: #33988e;
}

#nav-bar .compose-button:hover {
    opacity: 1;
    color: black;
}