/* Styling for the new-tweet box */

section.new-tweet {
    border-radius: 10px;
    border: 1px solid grey;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
    margin-right: 2em;
    background-color: #cfcfcf;
}

.new-tweet h2 {
    border-bottom: 1px solid black;
}

textarea {
    padding: 5px;
    width: 100%;
}

.counter {
    float: right;
}

.red {
    color: red;
}

input {
    margin-bottom:10px;
}