/* Styling for the view tweet box */

#all-tweets {
    padding-left: 2em;
    padding-right: 2em;
}

#hover-content {
    display: inline;
    float: right;
    font-size: large;
    position: relative;
    top: -35px;
    padding-right: 10px;
    opacity: 0;
    color: #34c3b5;
}

article.tweet:hover #hover-content {
    opacity: 1;
}

.tweet {
    border-radius: 10px;
    border: 1px solid grey;
    margin: 40px 0;
}

article.tweet {
    opacity: 0.7;
}

article.tweet:hover {
    opacity: 1;
}

article.tweet header {
    background-color: #cfcfcf;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
}

article.tweet footer {
    border-top: 1px solid grey;
    font-size: 0.75em;
}

article.tweet img {
    display: inline;
    border-radius: 10px;
}

article.tweet h2 {
    display: inline;
    position: relative;
    top: -23px;
    padding-left: 10px;
}

article.tweet p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
}

article.tweet .twitter-handle {
    display: inline;
    font-size: 17px;
    position: relative;
    top: -15px;
    float: right;
    padding-right: 5px;

}

.fa-flag:before {
    padding-right: 5px;
}

.fa-retweet:before {
    padding-right: 5px;
}